.bg-ddd, body{background-color: black!important;color: #fff!important;}
body *{color: #fff;}
.btn-white, .bg-white, .btn-light{background-color: #2a2a2a!important;}
.text-dark{color: var(--light)!important;}
.text-white{color: var(--dark)!important;}
.bg-dark{background-color: var(--light)!important;}
.text-blue, .text-darkblue{color: var(--info)!important;}
.border{border: 1px solid #555555!important;}

/* bootstrap style dark */
.card{background-color: transparent!important;}
.form-control{background-color: #2a2a2a!important;border: 1px solid #555555;color: #ccc!important;}
.input-group-text{background-color: #2a2a2a!important;border-color: #555!important;}

/* sidebar maquette */
.sidebar-maq, .sidebar-maq-logo img{background-color: #2a2a2a!important;}

/* sidebar journal */
.sidebar-newspaper-container, .sidebar-newspaper-buttons{background-color: #2a2a2a!important;}
.dropdown-item:focus, .dropdown-item:hover{background-color: #3c3c3c!important;}

/* profile dropdown */
.header-account-dropdown-icon{background-color: #3c3c3c!important;}

/* pagination style */
.page-link, .page-item.disabled .page-link{background-color: #2a2a2a!important;border: 1px solid #555555!important;}


/* comments style */
.comment-c{background-color: #2a2a2a!important;}
.comment-options-list ul li{border-bottom: 1px solid #3c3c3c;}

/* home style */
.home-tabs li a.active{background-color: var(--dark)!important;color: #fff!important;}

/* classement */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{background-color: transparent!important;border-color: #fff!important;}

/* live__score */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{color: var(--light)!important;}
.resultat-live-a-classement a{color: var(--info);}

/* player of month */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{background-color: #fff!important;color: var(--dark)!important;}
.team-tabs li a{color: var(--light)!important;}