/* import  font */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400&display=swap');

*{direction: rtl!important;}
body, input, button, select{font-family: 'Cairo', sans-serif;}
.float-right{float: left!important;}
.float-left{float: right!important;}

.dropdown-menu-right{right: 0!important;}
.phone_number{direction: ltr!important;}

.chrono-header ul li a.active{padding: 5px!important;}
.home-tabs li a{font-size: 12px;padding: 2px 6px 0px 6px!important;}
.home-tabs li a.active{padding: 2px 6px 0px 6px!important;font-size: 12px;}

.ar-inverse{transform: rotate(180deg);}

/* bootstrap */
.offset-md-3 {margin-left: 0px;}

/* cards */
.daystatics-redcard, .daystatics-yellowcard{margin-right: -30px!important;}
.daystatics-redcardlabel, .daystatics-yellowcardlabel{margin-right: -20px!important;}

/* debat */
.comment-options{right: unset!important;left: 1.8%!important;top: -18%!important;}
.comment-options-list{right: unset !important;left: -8% !important;}

/* profile dropdown */
.header-account-dropdown{right: unset;left: 0;}
.header-account-dropdown .float-left.r{text-align: right!important;}
.react-switch-handle{left: 0px!important;}

/* login page */
.eyeIcon {left: auto!important;right: 30px!important;}