:root{--blue-color:#23468c;--red-color:#ea2027;--medal-gold: rgba(255, 226, 63, 0.445);--medal-silver: rgba(144, 144, 144, 0.445);--medal-bronze: rgba(177, 108, 29, 0.445);}

*{padding: 0px;margin: 0px;}
html{scroll-behavior: smooth;}
body{margin: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
code, h1, h2, h3, h4, h5, h6{font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
h1, h2, h3, h4, h5, h6{font-weight: bold!important;margin-bottom: 0px!important;}
ul, li{list-style: none!important;}
a, a:hover{text-decoration: none!important;}

.bg-blue{background-color: var(--blue-color)!important;}
.text-blue{color: var(--blue-color)!important;}
.bg-red{background-color: var(--red-color)!important;}
.bg-aaa{background-color: #999999;}
.h11{font-size: 70px;}
.green-left{border-left: 4px solid #28a745;}
.yellow-card{background-color: var(--warning);padding: 6px 4px;position: absolute;border-radius: 2px;}
.red-card{background-color: var(--danger);padding: 6px 4px;position: absolute;border-radius: 2px;}
.table{margin-bottom: 0px!important;}

.font-size-12{font-size: 12px!important;}
.font-size-14{font-size: 14px!important;}
.font-size-16{font-size: 16px!important;}
.font-size-18{font-size: 18px!important;}

/* general settings */
.mobile-none{display: block!important;}
table tr th.mobile-none{display: table-cell!important;}
table tr td.mobile-none{display: table-cell!important;}
.table td, .table th{vertical-align: unset!important;}

/* percentage width */
.w-p-10{width: 10%;}
.w-p-20{width: 20%;}
.w-p-30{width: 30%;}
.w-p-40{width: 40%;}
.w-p-50{width: 50%;}
.w-p-60{width: 60%;}
.w-p-70{width: 70%;}
.w-p-80{width: 80%;}
.w-p-90{width: 90%;}

/* animation style
----------------------------------------------------------*/
@keyframes ld-spin{0%{-webkit-transform: rotate(0);transform: rotate(0);animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);}50%{-webkit-transform: rotate(180deg);transform: rotate(180deg);animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);}100%{-webkit-transform: rotate(360deg);transform: rotate(360deg);}}
@-webkit-keyframes ld-spin{0%{-webkit-transform: rotate(0);transform: rotate(0);animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);}50%{-webkit-transform: rotate(180deg);transform: rotate(180deg);animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);}100%{-webkit-transform: rotate(360deg);transform: rotate(360deg);}}
.ld.ld-spin{-webkit-animation: ld-spin 1s infinite;animation: ld-spin 1s infinite;}

@keyframes ld-heartbeat{0%{-webkit-transform: scale(1.05);transform: scale(1.05);}5%{-webkit-transform: scale(1.25);transform: scale(1.25);}39%{-webkit-transform: scale(0.9);transform: scale(0.9);}45%{-webkit-transform: scale(1.15);transform: scale(1.15);}60%{-webkit-transform: scale(1.05);transform: scale(1.05);}100%{-webkit-transform: scale(1);transform: scale(1);}}
@-webkit-keyframes ld-heartbeat{0%{-webkit-transform: scale(1.05);transform: scale(1.05);}5%{-webkit-transform: scale(1.25);transform: scale(1.25);}39%{-webkit-transform: scale(0.9);transform: scale(0.9);}45%{-webkit-transform: scale(1.15);transform: scale(1.15);}60%{-webkit-transform: scale(1.05);transform: scale(1.05);}100%{-webkit-transform: scale(1);transform: scale(1);}}
.ld.ld-heartbeat{-webkit-animation: ld-heartbeat 0.8s infinite cubic-bezier(0.215, 0.61, 0.355, 1);animation: ld-heartbeat 0.8s infinite cubic-bezier(0.215, 0.61, 0.355, 1);}

@keyframes ld-coin-h{0%, 100%{animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);}50%{animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);}0%{-webkit-transform: rotateY(0deg);transform: rotateY(0deg);}50%{-webkit-transform: rotateY(1800deg);transform: rotateY(1800deg);}100%{-webkit-transform: rotateY(3600deg);transform: rotateY(3600deg);}}
@-webkit-keyframes ld-coin-h{0%, 100%{animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);}50%{animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);}0%{-webkit-transform: rotateY(0deg);transform: rotateY(0deg);}50%{-webkit-transform: rotateY(1800deg);transform: rotateY(1800deg);}100%{-webkit-transform: rotateY(3600deg);transform: rotateY(3600deg);}}
.ld.ld-coin-h{-webkit-animation: ld-coin-h 2s infinite;animation: ld-coin-h 2s infinite;}

@keyframes ld-blur{0%{filter: blur(0);}50%{filter: blur(5px);}100%{filter: blur(0);}}
@-webkit-keyframes ld-blur{0%{filter: blur(0);}50%{filter: blur(5px);}100%{filter: blur(0);}}
.ld.ld-blur{-webkit-animation: ld-blur 1s infinite;animation: ld-blur 1s infinite;}

/* mobile style */
.mobileHeadBars{display: none;}
@media screen and (max-width : 600px)
{
  /* general settings */
  .mobile-none{display: none!important;}

  .scroll-overflow{overflow: scroll!important;}
  .header-top{text-align: center;}
  .header-top .col-md-6:last-child{padding-bottom: 8px;padding-left: 0px!important;padding-right: 0px!important;}
  .header-account-dropdown{width: 310px!important;}
  .header-account-dropdown .float-left.r{width: 70%!important;}
  .header-account-dropdown-elem-d.float-left.r{width: 60%!important;}
  .mobileHeadBars{display: block;color: white;font-size: 30px;margin: 4px 15px;}
  .header-navbar ul li.nav-item{margin-right: 0px!important;margin-left: 15px;}
  .team-content-complete-tabs{font-size: 11px;padding: 4px 0px;}
  .header-search-form{width: 100%!important;right: 0!important;top: 29px!important;z-index: 11!important;}
  .header-search-form input{border-radius: 0px;}
  .chrono-item a{font-size: 12px;}
  .home-dream-team .col-md-7{margin-left: 20px;}
  .dream-team-button{margin-bottom: 10px;}
  .home-news-header h4{font-size: 16px;}
  .home-news-header a{font-size: 12px;margin-top: 0px!important;}
  .sidebar{margin-top: 20px;}
  .sidebar .scores .col-md-2.col-3 img{width: 70%;}
  .dropdown-menu-right{width: unset!important;}
  .header-navbar .row{margin-right: 0px!important;}
  .header-navbar h6{font-size: .8rem;}
  .header-navbar button a{font-size: .8rem;}

  /* register */
  .social-register-elem{font-size: 11px;}
  .register-gender{font-size: 12px;}

  /* player */
  .player-info-table{margin-top: 15px;}
  .player-info-table th, .player-info-table td{font-size: 12px!important;border-top: none!important;}
  .player-internationale_result{margin-top: unset!important;}
  .player-internationale_result h1{font-size: 25px;}
  .player-internationale_result h3{font-size: 18px;}
  .player-stats h3{font-size: 18px;}
  .player-info h1{font-size: 45px!important;}
  .player-info h6{font-size: 12px!important;margin-top: 5px;}
  .player-palmares{font-size: 12px;}

  /* team */
  .team-content-info{margin-top: -90px!important;}
  .team-content-statics-elem-img img{height: auto;}
  .team-content-statics-calendar-content table{font-size: 10px;}
  .teamstatic-content-matches-last .v, .teamstatic-content-matches-last .n, .teamstatic-content-matches-last .d {padding: 4px 8px!important;}
  .teamstatic-classment-table{overflow-x: scroll;padding-right: 0px!important;}
  .team-content-statics-calendar-content .row{margin-right: 0px!important;margin-left: 0px!important;}
  .teamstatic-matches-count .col-6{margin-bottom: 10px;}
  .teamstatic-matches-count .col-md-2 div{border: 3px solid gray!important;height: 80px!important;width: 80px!important;margin-bottom: 10px!important;}
  .teamstatic-matches-count .col-md-2 div h2{font-size: 20px;margin-top: 10px!important;}
  .teamstatic-matches-count .col-md-2 div h6{font-size: 11px;}
  .team-tabs li a{width: 100%!important;font-size: 11px;}
  .teamstatic-classment{margin-right: 0px!important;}
  .team-content-statics-calendar-header .row, .teamstatic-content-matches-last .row, .teamstatic-matches-count .row, .teamstatic-buts .row, .team-series .row{margin-right: 0px!important;margin-left: 0px;}
  .team-series .col-12{padding-left: 0px;padding-right: 0px;}
  .groupe-tabs-list.days li a, ul.groupe-tabs-list.days.nav.nav-tabs .nav-item .nav-link{padding: .5rem .16rem!important;font-size: 10px;}

  /* article */
  .tete-article h2.titre-article{font-size: 18px;margin-top: 10px;}
  .tete-article .temps-pub{font-size: 12px;margin-top: 6px;}
  .tete-article .social-button{width: 55px;height: 55px;}

  /* man_of_match */
  .hdm-joueur{width: 25%!important;padding-left: 0px!important;padding-right: 0px!important;}
  .table-resultats td{font-size: 12px!important;font-weight: 100!important;}
  .table-resultats img{width: 25px!important;}
  .hdm-joueur span{font-size: 10px!important;}
  .hdm-form.w-50{width: 100%!important;}
  .myboxshadow-nohover h5{font-size: 14px;}
  .myboxshadow-nohover, .myboxshadow{width: 100%;margin: auto!important;}
  .hdm-title>div{padding-right: 15px!important;padding-left: 15px!important;}

  /* player of month */
  .myButt.one.two{width: 100px!important;}
  .month-player-title h2{font-size: 16px;margin-top: 8px;}
  .month-player-logos.position-absolute{position: unset!important;}
  .month-player-title h2{font-size: 1rem;}
  .month-player-title h4{font-size: .8rem;}
  .month-player-ranking-container{width: 100%!important;height: auto!important;}
  .podium-joueur-div{width: 60%!important;height: auto!important;}
  .medal{width: 20px!important;}
  .month-player-info{width: 100%!important;font-size: 10px!important;}
  .month-player-info h5{font-size: 10px!important;}
  input.joueur{width: 100%;}
  .joueur-avatar img{width: 50px!important;}

  /* Calendar */
  .table-calendar img{width: 25px;}
  .table-calendar tr td{font-size: 10px;font-weight: 100;}
  .groupe-tabs-list li.nav-item a, .classement-tabs-list li a{font-size: 10px!important;padding: .5rem .8rem;}
  .table-resultat-classement{width: 500px!important;}

  /* match */
  .match-perv-header h6{position: relative!important;border-radius: unset!important;padding: 5px!important;margin-top: 5px;}
  .match-perv-header>.row>div{text-align: center!important;}
  .match-perv-equip h4, .match-perv-content-players{font-size: 10px!important;}
  .match-perv-equip img{width: 100%;}
  .match-perv-result h1{font-size: 22px;}
  .match-equips-info, .match-statics, .match-ff, .match-last-result{width: 100%!important;}
  .match-equips-info div{font-size: 10px!important;}
  .match-statics-container b{font-size: 10px!important;}
  .percvleft{left: 13%!important;}
  .percvright{right: 13%!important;}
  .mobile-12{font-size: 12px!important;}
  .mobile-16{font-size: 16px!important;}
  .mobile-9{font-size: 9px!important;}
  .match-last-result-circle {width: 30px!important;height: 30px!important;font-size: 15px!important;line-height: 29px!important;}
  .match-container .row{margin-right: 0px!important;margin-left: 0px!important;}
  .match-container .col-6, .match-container .col-4{padding-right: 5px!important;padding-left: 5px!important;}
  .match-statics, .match-ff, .match-last-result, .match-tabs, .timeline-container{width: 95%!important;}
  .match-tabs-text{font-size: 14px!important;}
  .timeline-line-icon-view.home .timeline-line-player-view{left: 2%!important;}
  .timeline-line-icon-view.away .timeline-line-player-view{right: 2%!important;}
  .timeline-line-player-view{width: 41%!important;}
  .timeline-line-player-view{padding: 6px!important;}
  .timeline-line-player-text img{width: 20px;}
  .timeline-line-player-text{font-size: 11px!important;}
  .termin-button{margin-top: -15px!important;}

  /* statics team */
  .statics-equip-title .text-right, .statics-equip-title .text-left, .statics-equip-title .text-left select{text-align: center!important;font-size: 16px;}
  .statics-equip-title .text-left select{width: 125px;margin: auto;}
  .teamstatic-tabs li a{width: 100%!important;font-size: 12px!important;}

  /* table */
  .table td, .table th{padding: .75rem 0px!important;}
}
